name: test

on:
  push:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 5

      - name: Restore Dotnet Tools Cache
        id: cache-tools-restore
        uses: actions/cache/restore@v4
        with:
          path: ~/.nuget
          key: ${{ runner.os }}-dotnet-${{ hashFiles('**/.config/dotnet-tools.json') }}

      - name: Restore Dotnet Tools
        run: dotnet tool restore

      - name: Save Dotnet Tools Cache
        id: cache-tools-save
        uses: actions/cache/save@v4
        with:
          path: ~/.nuget
          key: ${{ steps.cache-tools-restore.outputs.cache-primary-key }}

      - name: Run tests
        run: |
          dotnet fsy -v run --force tests/tests.fsx
          dotnet fsy -v run --force tests/merge.fsx
          dotnet fsy -v run --force tests/kustomize.fsx
          dotnet fsy -v run --force tests/env.fsx
